.header{
    width: 100vw;
    height: 10vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px #494949;
}
.titleHeader{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 200px;
}
.spanTitleRock{
    font-family: 'Rock Salt', sans-serif;
    margin: 15px;
}
.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.linkSct{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #000;
    position: relative;
}
.linkSct::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background: #ed002b;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.linkSct:hover::after{
    width: 100%;
}
.language{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#init {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}
.titlesInit {
    margin: 5px;
}
#containerDescriptionInit {
    min-width: 560px;
    max-width: 560px;
    min-height: 120px;
    max-height: 560px;
}
#navDescriptionInit > .btnDescriptionInit {
    border: none;
    margin: 10px;
    font-size: 16px;
    background: transparent;
}
.btnDescriptionInitActive {
    text-decoration: underline #ed002b 2px solid;
    margin: 2px;
    transition: all .4s;
}